.App {
  text-align: center;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root{
  height: 100vh;
}

.app-conatiner{
  background-image: url("../src/assets/bgImage.jpg")
}

/* sizing of map container */
.leaflet-container{
  height: 100vh;
  width: 80vw;
}

.next-display-container{
  width: 20vw;
  padding: 5px 5px 5px 5px;
}